<h1>Progress Tracker at 15 sec</h1>

<div ng-repeat="todo in landing.todos | orderBy: '-Priority'" class="todoList" ng-class="{even: $index%2 === 0}">
		<div ng-hide="(landing.current_time - todo['Created_at']) > 30000 || todo['Complete'] == true"> {{ todo["Description"] }} @ {{todo["Created_at"]}}, Pri: {{todo["Priority"]}} </div>

		<button ng-hide="(landing.current_time - todo['Created_at']) > 30000 || todo['Complete'] == true" ng-click="update(todo)">Complete!</button>
</div>

<form>
	<h3>Create a new Item</h3>
	<input type="text" ng-model="todo.priority" placeholder="'High', 'Medium', 'Low'"> <br />
	<input type="text" ng-model="todo.description" placeholder="To do Description"> <br />
	<div class="submission">
		<button ui-sref="landing">Cancel</button>
		<input type="submit" ng-click="add(todo)" value="Add">
	</div>
</form>

<a ui-sref="complete">Completed List</a>

